// copy this file to "secrets.h" and fill in the following values

// WIFI
const char* WIFI_SSID     = "SSID";
const char* WIFI_PASSWORD = "password";

// Adafruit IO
#define AIO_USERNAME    "your IO username"
#define AIO_KEY         "your IO key"

