[Unit]
Description=Service that will take serial data from an Arduino and save it to InfluxDB
After=influxd.target

[Service]
ExecStart=/usr/bin/loragateway.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
