// copy this file to "secrets.h" and fill in the following values

// WIFI
const char* ssid     = "SSID";
const char* password = "password";

// Adafruit IO
#define AIO_USERNAME    "your IO username"
#define AIO_KEY         "your IO key"

